:root {
  font-size: 62.5%;

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#card {
  background-color: hsl(216, 50%, 16%);

  border-radius: 2rem;
  max-width: 35rem;

  padding: 2rem 2.5rem 3rem;
}

.img-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.img-equilibrium {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.view-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #00fff781;
  border-radius: 5%;
  cursor: pointer;
}

.img-container:hover .view-overlay {
  opacity: 1;
}

.view-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.nft-title {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}

.nft-title:hover {
  color: #00fff8;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.nft-description {
  font-size: 2.2rem;
  color: hsl(215, 23%, 58%);
  margin-bottom: 2rem;
}

.time-and-value {
  display: flex;
  justify-content: space-between;
}

.nft-value {
  display: flex;
}

.nft-value p {
  margin-left: 1rem;
  color: #00fff8;
  font-weight: 600;
}

.remaining-time {
  display: flex;
}

.remaining-time p {
  margin-left: 1rem;
  color: hsl(215, 23%, 58%);
  font-weight: 600;
}

.line {
  border: 0.1rem solid hsl(215, 32%, 27%);
  display: block;
  margin: 2rem 0;
}

.user-creator {
  display: flex;
  align-items: center;
}

.user-creator img {
  width: 4rem;
  height: auto;
  border: 0.2rem solid white;
  border-radius: 50%;
}

.user-creator p {
  color: hsl(215, 23%, 58%);
  margin-left: 2rem;
}

.user-creator p span {
  color: hsl(0, 0%, 100%);
}

.user-creator p span:hover {
  color: #00fff8;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1366px) {
  :root {
    font-size: 42.5%;
  }

  .remaining-time p {
    white-space: nowrap;
  }
}
